<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee Update Form</h1><hr>
    <form method="post">
    {%csrf_token%}
    Employee Number: <input type="text" name="eno" value="{{employee.eno}}"><p></p>
    Employee Name: <input type="text" name="ename" value="{{employee.ename}}"><p></p>
    Employee Salary: <input type="text" name="esal" value="{{employee.esal}}"><p></p>
    Employee Address: <input type="text" name="eaddr" value="{{employee.eaddr}}"><p></p>
    <input type="submit" class='btn btn-warning btn-lg' value="Update Record">
    </form>

</body>
</html>